<configuration>

	<appender name="APP_LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>/opt/inmobi/migration/info-%d{yyyy-MM-dd_HH}.log
			</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] [%X{requestId}] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
	</appender>

	<appender name="ERROR_LOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>/opt/inmobi/migration/error-%d{yyyy-MM-dd_HH}.log
			</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] [%X{requestId}] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] [%X{requestId}] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
	</appender>
	
    <root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root> 

	<logger name="com.inmobi.migration.placement" level="ERROR">
		<appender-ref ref="ERROR_LOG" />
	</logger>

	<logger name="com.inmobi.migration.placement" level="INFO">
		<appender-ref ref="APP_LOG" />
	</logger>	
	
</configuration>